<details data-minpoints="20">
    <summary>20 Points<progress value="<%= user.points %>" max="20"></progress></summary>
    <p>- Une boisson chaude <strong>OU</strong><br>- Une boisson froide (soft)</p>
</details>
<details data-minpoints="40">
    <summary>40 Points<progress value="<%= user.points %>" max="40"></progress></summary>
    <p>- Un petit cheeseburger <strong>OU</strong><br>- Une portion de frites</p>
</details>
<details data-minpoints="60">
    <summary>60 Points<progress value="<%= user.points %>" max="60"></progress></summary>
    <p>- Une glace</p>
</details>
<details data-minpoints="75">
    <summary>75 Points<progress value="<%= user.points %>" max="75"></progress></summary>
    <p>- Burger du menu étudiant</p>
</details>
<details data-minpoints="95">
    <summary>95 Points<progress value="<%= user.points %>" max="95"></progress></summary>
    <p>- Burger frites</p>
</details>