<%- include('./header.ejs') %>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js" integrity="sha512-CNgIRecGo7nphbeZ04Sc13ka07paqdeTu0WR1IM4kNcpmBAUSHSQX0FslNhTDadL4O5SAGapGt4FodqL8My0mA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <!-- récupération des variables ejs pour l'utilisation dans le javascript -->
        <script>
            let qrcode_str = '<%- JSON.stringify(user._id) %>'
            let points = '<%- JSON.stringify(user.points) %>'
        </script>
        <!-- fin récupération des variables ejs pour l'utilisation dans le javascript -->
        <script src="/public/js/user.js"></script>
        <link rel="stylesheet" href="/public/css/user.css">
    </head>
    <body>

        <!-- Nav -->
        <nav class="container-fluid">
            <ul>
                <li><a href="<%- JSON.stringify(site.mainpage_url) %>"><strong><%- JSON.stringify(site.name) %></strong></a></li>
            </ul>
            <ul>
                <li><button id="logout_btn" class="btn btn-outline-primary">Déconnexion</button></li>
            </ul>
        </nav>
        <!-- ./ Nav -->

        <main class="container">
            <article>
                <hgroup>
                    <h1><strong>Bonjour <%= user.firstname %>!</strong></h1>
                    <h3>Vous avec <%= user.points %> points</h3>
                    <br>
                    <h4>Votre Qr code :</h4>
                </hgroup>
                <div class="qrcode_wrapper">
                    <div id="qrcode"></div>
                </div>
                <div class="recompense">
                    <h4>Paliers de récompenses :</h4>
                    <%- include('./reward_levels.ejs') %>
                </div>
            </article>

        </main>
    </body>
</html>